@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --azul-liese: #0042aa;
    --red-liese: #A3310C;
    --white-liese: #FFFFFF;
    --black-liese: #000000;
    --complementary-black: #14141e;
    --complementary-gray: #7D7C7a;
    --complementary-gray-light: #d9d9d9;
    --complementary-green: #40653E;
    --complementary-green-light: #8d8c02;
    --complementary-yellow: #eeb124;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 120%
}
h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;
}
h3 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 120%;
}
h4 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 130%;
}
h5 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 140%;
}
h6 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 140%;
}
.bold {
    font-weight: 700;
}
.semibold {
    font-weight: 600;
}
.medium {
    font-weight: 500;
}
.normal {
    font-weight: 400;
}
.large {
    font-size: 1.25rem;
    line-height: 150%;
}
.mid {
    font-size: 1.125rem;
    line-height: 150%;
}
.regular{
    font-size: 1rem;
    line-height: 150%;
}
.small {
    font-size: 0.875rem;
    line-height: 150%;
}
.x-small {
    font-size: 0.75rem;
    line-height: 150%;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;


}

body {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn {
    padding: 16px 22px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    top: 0;
    cursor: pointer;
    transition: top ease 0.5s;
}

.btn-primary {
    background-color: var(--black-liese);
}
.btn-primary:hover {
    background-color: var(--complementary-gray);
    color: var(--white-liese);
    top: -5px;
}
.btn-primary:focus {
    background-color: var(--complementary-gray);
}

.btn-black {
    background-color: var(--complementary-black);
    color: var(--white-liese);
}
.btn-black:hover {
    background-color: var(--complementary-gray);
    color: var(--white-liese);
    top: -5px;
}

.btn-cta {
    background-color: var(--azul-liese);
    color: var(--white-liese);
}
.btn-cta:hover {
    background-color: var(--complementary-green);
    color: var(--white-liese);
    top: -5px;
}

.btn-transparent {
    background-color: transparent;
    border: none;
    color: var(--black-liese);
}
.btn-transparent:hover {
    background-color: var(--complementary-green-light);/* Efecto hover opcional */
}
.btn-green {
    background-color: var(--complementary-green);
    border: none;
    color: var(--white-liese);
    display: block;
    margin: 0px auto;
}
.btn-green:hover {
    background-color: var(--complementary-green-light);
    color: var(--white-liese);
    top: -5px;
}


.btn-light:hover {
    top: -5px;
}

.navbar {
    padding: 17px 0;
    transition: all 0.5s ease;
    border-bottom: 1px solid var(--white-liese);
}

.icon {
    margin-right: 0.5rem; 
    width: 24px; 
    height: 24px;
    vertical-align: middle; 
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px; 
}

.hero-title {
    font-size: 68px;
    line-height: 91px;
}

.img-fluid {
    width: 100%;
}

.grey-bold-lines-table {
    width: 100%;
    background-color: var(--complementary-gray-light);
    color: var(--black-liese);    
    border-width: 10px;
}
.page{
    display: none;
}
.page.active{
    display: block;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.card {
    color: var(--white-liese);
    border: none;
    background-color: var(--black-liese);
}
.bold {
    font-weight: 700;
}

section.hero p {
    font-size: 18px;
    line-height: 23px;
}

/* Partners */

section.trusted {
    padding: 5rem 0;
} 

@media (min-width: 1399.38px){
    .container {
        width: 84%;
    }
}


#footer {
    background-color: var(--white-liese);
    color: var(--black-liese);
    padding: 11.25rem 1rem 5.625rem 1rem;
}
#footer.btn-transparent {
    font-size: 3.5rem;
}
#footer a {
    color: var(--black-liese);
}

