{% load static %}
<nav class="navbar navbar-expand-md sticky-top navbar-white bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="{% static 'web/images/LogoUnamSat2.png' %}" alt="Logo LIESE" style="width:70px; height: 50px" class="rounded-pill"> 
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <button class="nav-link" href="#main-page">Nosotros</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" href="#proyectos">Proyectos</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" href="#eventos">Eventos</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" href="#noticias">Noticias</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" href="#actividades">Actividades</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" href="#contacto">Contacto</button>
                    </li>
                </ul>
                <a href="#partners" class="btn btn-cta ms-auto d-block border-0 shadow-none hover-green">Patrocínanos</a>
            </div>
        </div>
</nav>