{% load static %}
<nav class="navbar navbar-expand-md sticky-top navbar-white bg-white align-items-center">
    <div class="container-fluid d-flex align-items-center">
        <a class="navbar-brand" href="/">
            <img src="{% static 'web/images/LogoUnamSat2.png' %}" alt="Logo LIESE" style="width:70px; height: 50px" class="rounded-pill"> 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto d-flex align-items-center">
                <li class="nav-item">
                    <a class="nav-link d-flex text-center align-items-center" href="{% url 'index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex text-center align-items-center" href="{% url 'leaders_view' %}">Líderes de Proyecto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex text-center align-items-center" href="{% url 'events_view' %}">Eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex text-center align-items-center" href="{% url 'articles_view' %}">Artículos</a>
                </li>
                <li class="nav-item">
                    <button class="nav-link d-flex text-center align-items-center" href="#actividades">Actividades</button>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex text-center align-items-center" href="{% url 'opportunities_view' %}">Oportunidades</a>
                </li>
            </ul>
            <a href="#partners" class="btn btn-cta ms-auto d-flex align-items-center border-0 shadow-none hover-green">Patrocínanos</a>
        </div>
    </div>
</nav>
