#welcome {
    background-image: url(./images/galaxia.png);
    background-size: cover;
    color: var(--white-liese);
    padding: 7.5rem 15%;
}

#about-us {
    color: var(--black-liese);
    background-color: var(--white-liese);
    background-size: cover;
    padding: 7.5rem 10%;
}

#about-us p {
    text-align: justify;
}

#areas-de-investigacion {
    color: var(--white-liese);
    background-color: var(--azul-liese);
    background-size: cover;
    padding: 7.5rem 10%;
}
#areas-de-investigacion div.area{
    color: var(--black-liese);
    background-color: var(--white-liese);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
}
#areas-de-investigacion p{
    text-align: justify;
}
